<div class="layui-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree yk_tree"  lay-shrink="all" lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('admin/index')}" target='right_content'>管理员</a></dd>
                    <dd><a href="{:url('user/buyHistory')}" target='right_content'>购买记录</a></dd>
                    <dd><a href="{:url('wine/story')}" target='right_content'>酒故事</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">商品管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('goods/index')}" target='right_content'>商品管理</a></dd>
                    <dd><a href="{:url('goods/recode')}" target='right_content'>商品二维码</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>